<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to Customer reservation! <%= name %></p>
<a href="/">Home</a>
<a href="/logout">logout</a><br>
    <br>
    <br>
    <table id="resv_contirm">
        <tr>
            <th>ResvID</th>
            <th>Email</th>
            <th>RoomNumber</th>
            <th>CheckinDate</th>
            <th>CheckoutDate</th>
            <th>Price</th>
            <th>RoomType</th>
        </tr>
    </table>
     <!-- ***********INSERT_REFUND_ACCOUNT*********** -->
     <form action="/rooms_search" method="post">
        <table>
            <td>
            Bank : <input type="string" name="bank"/><br>
            </td>
            <td>
            Account : <input type="number" name="account"/><br>
            </td>
        </table>
     <button type="button">CONFIRM</button>
     </form>

    <script>
        var table = document.getElementById("resv_confirm");
        
        var row;
        var cells = new Array();
        console.log(data[i]);
        row = table.insertRow(-1);
        for (var j=0; j<7; j++){
                cells[j] = row.insertCell(j);
        }
        cells[0].innerHTML = <%- JSON.stringify(ResvID) %>;
        cells[1].innerHTML = <%- JSON.stringify(Email) %>;
        cells[2].innerHTML = <%- JSON.stringify(RoomNumber) %>;
        cells[3].innerHTML = <%- JSON.stringify(CheckinDate) %>;
        cells[4].innerHTML = <%- JSON.stringify(CheckoutDate) %>;
        cells[5].innerHTML = <%- JSON.stringify(Price) %>;
        cells[6].innerHTML = <%- JSON.stringify(RoomType) %>;
        }
    </script>
</body>
</html>
