<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<script>
function str2Date(hey){
    var year = hey.substr(0, 4);
   var month = hey.substr(5, 2);
    var day = hey.substr(8, 2);
  month = Number(month) - 1;
  if (month == 12){
    month = 0;
    }
  return new Date(year, month, day);
   }
</script>
</head>

<body>
<h1><%= title %></h1>
<p>Let's check room status~</p>
<a href="/">Home</a>
<a href="/logout">logout</a><br>

<form action="/rooms_show" method="post">
<table>
    <td>
    from : <input type="date" name="from"/><br>
    </td>
    <td>
    to : <input type="date" name="to"/><br>
    </td>
    <td>
    What kinds of room
    <select name="room_type">
    <option disabled selected value> -- </option>
    <option value="single">Single</option>
    <option value="double">Double</option>
    <option value="twin">Twin</option>
    <option value="special">Special</option>
    </select><br>
    </td>
    <td>
    <input type="submit" id="check" value="CHECK">
    </td>
</table>
</form>

<br>
<strong>Filtered by? </strong><%= filter %>
<br>
<table id="rooms_table">
    <thead>
    <tr>
    <th>ROOM#</th>
    </tr>
    </thead>
</table>

<script>

if (from!='' && to!=''){
        var from = <%- JSON.stringify(from) %>;
        var to = <%- JSON.stringify(to) %>;
        
            var data = <%- data %>;
        var table = document.getElementById("rooms_table");
        var hd_row = table.tHead.children[0];
        var fromDate = str2Date(from);
         var toDate = str2Date(to);

      
      var today;
      var thisDate = new Date();
      thisDate.setTime(fromDate.getTime());
      var hd_cell;
      for(var i=0; ; i++){
            
           hd_cell = hd_row.insertCell(-1);
           hd_cell.outerHTML = '<th>'+(thisDate.getMonth()+1)+'-'+thisDate.getDate()+'<th>';
           hd_cell.setAttribute('width','20');
           thisDate.setTime(thisDate.getTime() + 86400000);
            if ( thisDate > toDate ){ break; }
        } 

        var row;
        var d;
        console.log(fromDate);
        for(var i=0; i<data.length; i++){

                console.log(data[i]);
                d = data[i];   
                row = table.insertRow(-1);
                cell = row.insertCell(0);
                cell.innerHTML = d.RoomNumber;
                thisDate.setTime(fromDate.getTime());
                var inDate = str2Date(d.CheckinDate);
                var outDate = str2Date(d.CheckoutDate);
                outDate.setTime(outDate.getTime() - 86400000); 

                for(var j=1; ; j++){
                        if (inDate == null){ break; }
                        cell = row.insertCell(j);
                        cell.setAttribute('width', '20');
                        if ((inDate <= thisDate) && (outDate >= thisDate)){
                                 cell.innerHTML = "no";
                        }
                        else{
                               console.log(thisDate);
                        }

                        thisDate.setTime(thisDate.getTime() + 86400000);
                        if ( thisDate > toDate ){ 
                                break; }
                }
        }
}
</script>
</body>
</html>

