<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

</head>
<body style=background-color:pink>

<!--<h1><%= title %></h1>
<p>Welcome to Manager make reservation </p>
<a href="/">Home</a>
<a href="/list">Reservation list</a>
<a href="/logout">logout</a>
-->

<nav class='navbar navbar-default'>
    <div class='container-fluid'>
    <div class='navbar-header'>
    <a class='navbar-brand' href='/list'>1am Americano</a>
   </div>
     <p class='navbar-text'><%= title %></p> 
    
    <ul class='nav navbar-nav navbar-right'>
     <li><a href='#'><%= userid %></a></li>   
     <li><a href='/logout'> LOGOUT </a></li>
    </ul>
    </div>
</nav>

<div class='col-md-2' style='background-color:lightpink'>
<!--  <h1 style='text-align:center'><%=title %></h1> -->
<ul class='nav nav-pills nav-stacked'>
<li style='text-align:left'><a href="/list">Reservation list</a></li>
<li style='text-align:left'><a href="/rooms">Check room status</a></li>
<li style='text-align:left'><a href="/resv">Make a Reservation</a></li>
</ul>
</div>

<div class='col-md-10'>
<form class='form-inline' action="/make_resv" method="post" id="myform">
    <div class='form-group'>
        <label for='date'>From</label><br>   
        <input class='form-control' type="date" name="from"/><br>
    </div>
    <div class='form-group'>
        <label for='date'>To</label><br>
        <input class='form-control' type="date" name="to"/><br>
    </div>
    <div class='form-group'>
        <label for='sel1'>What kinds of room</label> <br>
        <select class='form-control' name="room_type">
        <option disabled selected value> -- </option>
        <option value="single">Single</option>
        <option value="double">Double</option>
        <option value="twin">Twin</option>
        <option value="special">Special</option>
        </select>
    </div> 
    <div class='form-group'>
        <label for='number'>Guests</label><br>
        <input class='form-control' type="number" name="guests" value='1'/><br>
    </div>
  

    <div class='form-group'>
        <label></label><br>
        <button class="btn btn-default" type="submit" id="search">MAKE</button>
    </div>  
</form>

<br>
<strong>Filtered by</strong> <font id="filter"><%= filter %></font><br>
<br>

<table class='table' id="rev_list" style='background-color:antiquewhite'>
    <tr>
        <th>RoomNumber</th>
        <th>RoomPrice</th>
        <th>RoomType</th>
        <th>MAKE</th>
    </tr>
</table>

</div>
<script>
    document.getElementById("search").addEventListener("click", function () {
            var fromday = document.getElementById("fromday").value;	
            var today = document.getElementById("today").value;	
            if(new Date(fromday).getTime() <= new Date(today).getTime()){
                var form = document.getElementById("myform");
                form.submit();
            }else {
                alert("Check-in date should be earlier than Check-out date");
            }
        });
    var table = document.getElementById("rev_list");
    var data = '<%- data %>';
    var row;
    var cell0, cell1, cell2, cell3;
    var filted_data = document.getElementById("filter").textContent;
    var d;
    if (data != ''){
        data = JSON.parse(data);
        console.log(data);
        for(var i in data){
            d = data[i];
            row = table.insertRow(-1);
            cell0 = row.insertCell(0);
            cell1 = row.insertCell(1);
            cell2 = row.insertCell(2);
            cell3 = row.insertCell(3);
            cell0.innerHTML = d.RoomNumber;
            cell1.innerHTML = d.RoomPrice;
            cell2.innerHTML = d.RoomType;
            cell3.innerHTML = '<button onclick="inputEmail(this,filted_data)">Make</button>';
        }
    }
    function inputEmail(el, filted_data){
        var RoomNumber = el.parentNode.parentNode.cells[0].textContent;
        var RoomPrice = el.parentNode.parentNode.cells[1].textContent;
        var RoomType = el.parentNode.parentNode.cells[2].textContent;
        console.log(RoomNumber);
        console.log(RoomPrice);
        console.log(RoomType);
        var other_data = prompt("Email/Bank/Account/Depositor", "user@gmail.com/woori/1002/wealth");
        if (other_data.split('/').length==4){
            post_to_url({'RoomNumber': RoomNumber, 'RoomPrice':RoomPrice, 'RoomType': RoomType, 'other_data':other_data, 'data' : filted_data});
            alert("Reservation Complete, E-mail is sent.");
        }else {
            alert("Invalid data form. Try again");
        }

    }

    function post_to_url(params) {
        var form = document.createElement("form");
        form.setAttribute("method", "post");
        form.setAttribute("action", "/insertdb");
        for(var key in params) {
            var data = document.createElement("input");
            data.setAttribute("type", "hidden");
            data.setAttribute("name", key);
            data.setAttribute("value", params[key]);
            form.appendChild(data);
        }
        document.body.appendChild(form);
        form.submit();
    }

</script>
</body>
</html>
