<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to Manager list <%= name %></p>
<a href="/">Home</a>
<a href="/logout">logout</a><br>
<a href="/resv">Make Reservation</a>
    <form action="/list_show" method="post">
        <table>
        <td>
        Email : <input type="email" name="cust_email"/><br>
        </td>
        <td>
        from : <input type="date" name="from"/><br>
        </td>

        <td>
        to : <input type="date" name="to"/><br>
        </td>

        <td>
        What kinds of room
        <select name="room_type">
			<option disabled selected value> -- </option>
            <option value="single">Single</option>
            <option value="double">Double</option>
            <option value="twin">Twin</option>
            <option value="special">Special</option>
        </select><br>
        </td>

        <td>
        Occupied
        <select name="occupied">
			<option disabled selected value> -- </option>
            <option value="Empty">Empty</option>
            <option value="Occupied">Occuopied</option>
        </select>
        </td>

        <td>
        <input type="submit" id="search" value="SEARCH">
        </td>

        </table>
    </form>
    <br>
    <strong>Filtered by</strong><%= filter %>
    <br>
    <br>
    <table id="rev_list">
        <tr>
            <th>ResvID</th>
            <th>Email</th>
            <th>RoomNumber</th>
            <th>CheckinDate</th>
            <th>CheckoutDate</th>
            <th>Is_Customer</th>
            <th>ResvState</th>
            <th>Price</th>
            <th>Bank</th>
            <th>Account</th>
            <th>RoomPrice</th>
            <th>RoomType</th>
        </tr>
    </table>

    <script>
        var table = document.getElementById("rev_list");
        var data = <%- data %>;
        var row;
        var cell0, cell1, cell2, cell3, cell4, cell5, cell6, cell7, cell8, cell9, cell10, cell11;
        var d;
        for(var i=0; i<data.length; i++){
            d = data[i];
            console.log(data[i]);
            row = table.insertRow(-1);
            cell0 = row.insertCell(0);
            cell1 = row.insertCell(1);
            cell2 = row.insertCell(2);
            cell3 = row.insertCell(3);
            cell4 = row.insertCell(4);
            cell5 = row.insertCell(5);
            cell6= row.insertCell(6);
            cell7 = row.insertCell(7);
            cell8 = row.insertCell(8);
            cell9 = row.insertCell(9);
            cell10 = row.insertCell(10);
            cell11 = row.insertCell(11);
            cell0.innerHTML = d.ResvID;
            cell1.innerHTML = d.Email;
            cell2.innerHTML = d.RoomNumber;
            cell3.innerHTML = d.CheckinDate;
            cell4.innerHTML = d.CheckoutDate;
            cell5.innerHTML = d.Is_Customer;
            cell6.innerHTML = d.ResvState;
            cell7.innerHTML = d.Price;
            cell8.innerHTML = d.Bank;
            cell9.innerHTML = d.Account;
            cell10.innerHTML = d.RoomPrice;
            cell11.innerHTML = d.RoomType;
        }
    </script>
</body>
</html>
