<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<style>
.navbar {
        border-color: brown;
        background-color: ivory;
        background-image: linear-gradient(to bottom,rgba(51, 32, 3, 0.98) 0,rgba(109, 48, 13, 0.78) 100%);
        border-bottom-color: rgba(165, 42, 42, 0.04);
}
.navbar-brand {
color:ivory;
}
.badge{
color:#fcf8e3;
      background-color:#a94442;
}
.ivory{
color:ivory;
}
.back_image {
height: 100%;
        background-image: url(http://director.cl/wp-content/uploads/2015/09/hotel.jpg);
        background-position: center bottom;
        background-size: cover;
}
.filter {
color : ivory;
}
</style>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<style scoped>
h3 { color:ivory;}
h4 { color:ivory;}
h5 { color:ivory;}
</style>
</head>

<body style="background-color: rgba(247, 200, 134, 0.48);" class="back_image">

<div class="navbar navbar-fixed-top">
<div class="container-fluid">
<div class="navbar-header">

<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a class="navbar-brand" href="/"><%= title %></a>
</div>
<div class="collapse navbar-collapse">
<ul class="nav navbar-nav">
<li><a class="ivory" href="/rooms_list">rooms list</a></li>
<li><a class="ivory" href="/resv_list">reservation</a></li>
</ul>
<ul class="nav navbar-nav navbar-right">
<li><a href="/login" id=login><span class="glyphicon glyphicon-user ivory">Login</span></a></li>
<li><a href="/logout" id=logout hidden><span class="text-warning glyphicon glyphicon-log-in ivory">Logout</span></a></li>
</ul>
</div>
<br>
<form action="/rooms_search" method="post" class="form-inline">
<div class="form-group">
<label class="filter" for="from">Checkin</label>
<input type="date" class="form-control" id=from name="from"/>
</div>
<div class="form-group">
<label  class="filter" for="to">Checkout</label>
<input type="date" class="form-control" id=to  name="to" />
</div>
<div class="form-group">
<label  class="filter" for="guests">Guests</label>
<input type="number" class="form-control" id="guests" placeholder="숙박객 수를 입력하세요" name="guests"/>
</div>
<button type="submit" class="btn btn-danger" id="search">SEARCH</button>
</form>


<br><br>
<p class="text-danger"><h4>&nbsp;&nbsp;&nbsp;&nbsp;Filtered by?  <%= filter %><h4></p>

<!-- ***********AVAILABLE_ROOM_LISTS*********** -->

<br>
<div class="table-responsive">
<table class="table" id="rooms_available">
<tr>
<th><p class="text-warning" ><h4>&nbsp;&nbsp;RoomType</h4></p></th>
<th><p class="text-warning"><h4>&nbsp;&nbsp;Select</h4></p></th>
</tr>
</table>
</div>
</div>
</div>

<!-- ***********SHOW AVAILABLE ROOM TYPES*********** -->

<script>
var table = document.getElementById("rooms_available");
var data = '<%- data %>';
var row;
var cell0, cell1;
var d;
var name  = '<%- name %>';
var filter = '<%- filter %>'
if(name != ''){
        document.getElementById("login").style.display = 'none';
        document.getElementById("logout").style.display = 'block';
} else {
        document.getElementById("login").style.display = 'block';
        document.getElementById("logout").style.display = 'none';

}

if(data != ''){
        data = JSON.parse(data);
        for(var i=0; i < data.length; i++){
                d = data[i];
                row = table.insertRow(-1);
                cell0 = row.insertCell(0);
                cell1 = row.insertCell(1);
                cell0.innerHTML = d.RoomType;
                cell0.style.color = "ivory";
                var roomtype = d.RoomType;
                var roomnumber = d.num;
                cell1.innerHTML = '<button onclick="mk_resv(roomtype, filter, roomnumber)" class="btn btn-warning" >SELECT</button>';

        }
}

function mk_resv(roomtype, filter, roomnumber){
        var username = '<%- name %>';
        if(username == ''){
                alert("Please Sign in!")
                        var form = document.createElement("form");
                form.setAttribute("method", "get");
                form.setAttribute("action", "/login");
                document.body.appendChild(form);
                form.submit();
                return;
        }
        var form = document.createElement("form");
        form.setAttribute("method", "post");
        form.setAttribute("action", "/mk_resv");
        //####//
        var data = document.createElement("input");
        data.setAttribute("type", "hidden");
        data.setAttribute("name", "roomtype");
        data.setAttribute("value", roomtype);
        form.appendChild(data);
        //####//
        var data1 = document.createElement("input");
        data1.setAttribute("type", "hidden");
        data1.setAttribute("name", "filter");
        data1.setAttribute("value", filter);
        form.appendChild(data1);

        var data2 = document.createElement("input");
        data2.setAttribute("type", "hidden");
        data2.setAttribute("name", "roomnumber");
        data2.setAttribute("value", roomnumber);
        form.appendChild(data2);

        document.body.appendChild(form);
        form.submit();
}
</script>
</body>
</html>
181,5         88%

